<nav class="navbar navbar-expand-sm bg-body-tertiary">
    <div class="container-fluid">
        <div class="navbar-brand">Emaus</div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% assign navlink_pages = site.pages | where: "navlink", true | sort: "sortindex" %}
            {%- for p in navlink_pages %}
            {%- if p.url == page.url %}
                {%- assign extracls = "active" %}
            {%- else %}
                {%- assign extracls = nil %}
            {%- endif %}
            <li class="nav-item">
                <a class="nav-link {{ extracls }}" aria-current="page" href="{{ p.url }}">{{ p.shortname }}</a>
            </li>
            {%- endfor %}
            <!-- Dark mode switch -->
            <div class="nav-link">
                <div class="form-check form-switch">
                    <input type="checkbox" class="form-check-input" id="darkSwitch">
                    <label class="form-check-label" for="darkSwitch">Dark mode</label>
                </div>
                <script src="/assets/dark-mode/dark-mode-switch.js"></script>
            </div>
        </ul>
        </div>
    </div>
</nav>