<!doctype html>
<html lang="en" data-bs-theme="dark">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ "Emaus: " | append: page.title | markdownify | strip_html | truncatewords: 3 }}</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/syntax.css">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    </head>
    <body class="d-flex flex-column min-vh-100">
            {%- include navbar.html -%}
            <div class="container px-sm-3 px-1">
                {% include anchor_headings.html anchorBody=">" anchorClass="anchor me-2" beforeHeading=true html=content %}
            </div>
    </body>

    <!-- Make sure that footer is at bottom of page -->
    <div class="wrapper flex-grow-1"></div>

    {%- unless page.previous == nil and page.next == nil -%}
        <div class="container d-flex jumbotron-post-text w-100">
            {% include previous_next_post_buttons.html %}
        </div>
    {%- endunless -%}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <footer>
        {% include footer_links.html %}
        <script src="/assets/js/shell.js" async></script>
    </footer>
</html>
